@import 'app.css';
@import 'keyframes.css';

body{
  margin: 0;
  background-color: white;

}

svg{
  display: inline-block;
  height: 1.4vw;
  width: 1.4vw;
}

.click{
  cursor: pointer;
}

.grid{
  width: 76vw;
  display: grid;
  grid-template-columns: repeat(4,16vw);
  grid-template-rows: 16vw;
  column-gap: 4vw;
  row-gap: 4vw;
}

.line{
  background-color: black;
  height: 4px;
  width: 3vw;
  margin-left: 1.5vw;
  margin-top: 1.5vw;
}

input:focus,
textarea:focus{
  animation: inputFocus 0.5s forwards;
}
input:not(:focus),textarea:not(:focus){
  animation: inputDefocus 0.5s forwards;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}