@import 'base.css';
@import 'keyframes.css';

body{
  margin: 0;
  background-color: white;

}
#app {
  margin: 0 auto;
  font-weight: normal;
}

svg{
  display: inline-block;
  height: 1.4vw;
  width: 1.4vw;
}

.click{
  cursor: pointer;
}

input:focus,
textarea:focus{
  animation: inputFocus 0.5s forwards;
}
input:not(:focus),textarea:not(:focus){
  animation: inputDefocus 0.5s forwards;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}